<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>table</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../app/lib/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
        table tr th,
        table tr td {
            text-align: center;
        }

        .selected {
            display: none;
        }
    </style>
</head>
<body ng-controller="ViewerController">
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="exportBtn()">
                    导出工资
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" aria-label="Justify"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="false"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: 110px">
                    <li ng-repeat="x in allType track by $index" style="padding-left: 10px;">
                        <div class="checkbox" style="margin-bottom: 5px;margin-top: 5px;">
                            <label>
                                <input type="checkbox" ng-model="x.select" value="{{x.name}}"> {{x.name}}
                            </label>
                        </div>
                    </li>
                    <!--<li class="disabled"><a href="#">Disabled link</a></li>-->
                    <!--<li><a href="#">Another link</a></li>-->
                </ul>
            </div>
        </div>
        <div class="row">
            <table border="1">
                <thead>
                <tr>
                    <th width="60" rowspan="2" ng-repeat="val in fixation | filter:{select:true}">{{val.name}}</th>
                    <th width="120" colspan="{{type2.length}}" ng-class="{'selected':department}">分摊部门</th>
                </tr>
                <tr>
                    <th ng-repeat="x in type | filter:{select:true}">{{x.name}}</th>

                </tr>
                </thead>
                <tbody id="html">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../app/lib/jquery/1.11.3/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../app/lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../app/lib/lodash/4.17.4/lodash.js"></script>
<script type="text/javascript" src="../app/lib/angular/1.5.0/angular.js"></script>
<script type="text/javascript">
    var app = angular.module('App', [])
        .controller('ViewerController', function ($scope, $timeout, $compile) {
            $scope.newAll = [];
            $scope.select = true;
            $scope.department = false;
            //TODO 列表数据
            $scope.data = [
                {
                    name: 'sunshiping',
                    month: '2017-7',
                    grad: '员工',
                    zw: '经纪人',
                    rzsj: '2016-12-01',
                    zt: '在职',
                    hj: '1234',
                    children: [
                        {
                            bm: '研发',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        }
                    ]
                },
                {
                    name: 'sunshiping',
                    month: '2017-7',
                    grad: '员工',
                    zw: '经纪人',
                    rzsj: '2016-12-01',
                    zt: '在职',
                    hj: '1234',
                    children: [
                        {
                            bm: '研发',
                            bl: '20%',
                            gz: '',
                            btx: '开发',
                            kkx: '错误'
                        },
                        {
                            bm: '前端',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        },
                        {
                            bm: '前端',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        }
                    ]
                },
                {
                    name: 'sunshiping2',
                    month: '2017-7',
                    grad: '员工',
                    zw: '经纪人',
                    rzsj: '2016-12-01',
                    zt: '在职',
                    hj: '1234',
                    children: [
                        {
                            bm: '研发',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        },
                        {
                            bm: '前端',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        },
                        {
                            bm: '前端',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        },
                        {
                            bm: '前端',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        }
                    ]
                },
                {
                    name: 'sunshiping',
                    month: '2017-7',
                    grad: '员工',
                    zw: '经纪人',
                    rzsj: '2016-12-01',
                    zt: '在职',
                    hj: '1234',
                    children: [
                        {
                            bm: '研发',
                            bl: '20%',
                            gz: '4000',
                            btx: '开发',
                            kkx: '错误'
                        }
                    ]
                }
            ];
            //固定项
            $scope.fixation = [
                {
                    name: '姓名',
                    acronym: 'name',
                    nape: 1,
                    select: true
                },
                {
                    name: '工资月份',
                    acronym: 'month',
                    nape: 1,
                    select: true
                },
                {
                    name: '职级',
                    acronym: 'grad',
                    nape: 1,
                    select: true
                },
                {
                    name: '职务',
                    acronym: 'zw',
                    nape: 1,
                    select: true
                },
                {
                    name: '入职时间',
                    acronym: 'rzsj',
                    nape: 1,
                    select: true
                },
                {
                    name: '状态',
                    acronym: 'zt',
                    nape: 1,
                    select: true
                },
                {
                    name: '合计',
                    acronym: 'hj',
                    nape: 1,
                    select: true
                }
            ];

            //TODO 可配置的分摊部门
            $scope.type = [

                {
                    name: '部门',
                    acronym: 'bm',
                    nape: 2,
                    select: true

                },
                {
                    name: '比例',
                    acronym: 'bl',
                    nape: 2,
                    select: true

                },
                {
                    name: '工资',
                    acronym: 'gz',
                    nape: 2,
                    select: true

                },
                {
                    name: '补贴项',
                    acronym: 'bt',
                    nape: 2,
                    select: true

                },
                {
                    name: '扣款项',
                    acronym: 'kk',
                    nape: 2,
                    select: true

                }

            ];

            $scope.allType = _.union($scope.fixation, $scope.type, true);

            $scope.$watch('allType', function (newVal, oldVal) {
                $scope.type2 = [];
                $scope.fixation2 = [];
                $scope.html3 = [];
                angular.forEach(newVal, function (type, index) {
                    if (type.nape == 2 && type.select == true) {
                        $scope.type2.push(type);
                    }
                });
                angular.element('#html').empty();
                $scope.draw(newVal);
            }, true);

            $scope.draw = function (dataType) {
                $scope.tbody = [];
                $scope.oldDate = angular.copy($scope.data);
                angular.forEach($scope.oldDate, function (val, index) {
                    $scope.html2 = '<tr>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[0].select != true }">' + val.name + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[1].select != true }">' + val.month + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[2].select != true }">' + val.grad + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[3].select != true }">' + val.zw + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[4].select != true }">' + val.rzsj + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[5].select != true }">' + val.zt + '</td>' +
                        '<td width="5%" rowspan="' + val.children.length + '" ng-class="{ \'selected\' : fixation[6].select != true }">' + val.hj + '</td>' +
                        '<td width="5%" ng-class="{ \'selected\' : type[0].select != true }">' + val.children[0].bm + '</td>' +
                        '<td width="5%" ng-class="{ \'selected\' : type[1].select != true }">' + val.children[0].bl + '</td>' +
                        '<td width="5%" ng-class="{ \'selected\' : type[2].select != true }">' + val.children[0].gz + '</td>' +
                        '<td width="5%" ng-class="{ \'selected\' : type[3].select != true }">' + val.children[0].btx + '</td>' +
                        '<td width="5%" ng-class="{ \'selected\' : type[4].select != true }">' + val.children[0].kkx + '</td>' +
                        '</tr>';
                    $scope.tbody.push($scope.html2);
                    if (val.children.length > 1) {
                        for (var i = 1; i < val.children.length; i++) {
                            $scope.html3 = '<tr>' +
                                '<td width="5%" ng-class="{ \'selected\' : type[0].select != true }">' + val.children[i].bm + '</td>' +
                                '<td width="5%" ng-class="{ \'selected\' : type[1].select != true }">' + val.children[i].bl + '</td>' +
                                '<td width="5%" ng-class="{ \'selected\' : type[2].select != true }">' + val.children[i].gz + '</td>' +
                                '<td width="5%" ng-class="{ \'selected\' : type[3].select != true }">' + val.children[i].btx + '</td>' +
                                '<td width="5%" ng-class="{ \'selected\' : type[4].select != true }">' + val.children[i].kkx + '</td>' +
                                '</tr>';
                            $scope.tbody.push($scope.html3)
                        }
                    }
                });
                $scope.innerHTML = $scope.tbody.join('');
                var template = angular.element($scope.innerHTML);
                var mobileDialogElement = $compile(template)($scope);
                angular.element('#html').append(mobileDialogElement);
            };


            //导出工资
            $scope.exportBtn = function () {
                //TODO 导数据接口
                console.log($scope.allType)
            };


        });
</script>
</html>